<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<TMAR>
    <CONFIG>
        <PROJECT name="mowit"/>
        <DESCRIPTION_DIRECTORY type="FILE" name="src/test/resources/descriptions"/>
        <RESULT_DIRECTORY name = "target/tmar-test-results"/>
        <REPORT_DIRECTORY name = "target/tmar-test-report"/>
        <SHORTCUT name="MOWTI" value="MOWIT" />
        <WORKING_DIRECTORY name="src/test/resources/tmar-working" type="file"/>
    </CONFIG>
</TMAR>